
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<online_sms.Models.Contact>

<ul class="list-group">
    @foreach (var contact in Model)
    {
        <li style="background: transparent;border: 1px solid gray;margin-top: 5px;margin-left:10px;" class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <p>@contact.FirstName</p>
                <p>@contact.ContactNumber</p>
            </div>
            <a asp-action="SendBulkMessage" asp-route-contactId="@contact.ContactId" class="btn btn-primary">
                Bulk Message
            </a>
        </li>
    }
</ul>
