<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - online_sms</title>

    <link rel="icon" href="../assets/img/brand/favicon.ico" type="image/x-icon" />

    <!-- Title -->
    <title>Spruha - Bootstrap Premium HTML Dashboard Template</title>

    <!-- Bootstrap css-->
    <link id="style" href="~/assets/admin/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Icons css-->
	<link href="~/assets/admin/plugins/web-fonts/icons.css" rel="stylesheet" />
	<link href="~/assets/admin/plugins/web-fonts/font-awesome/font-awesome.min.css" rel="stylesheet">
	<link href="~/assets/admin/plugins/web-fonts/plugin.css" rel="stylesheet" />

    <!-- Style css-->
	<link href="~/assets/admin/css/style.css" rel="stylesheet">

    <!-- Select2 css-->
	<link href="~/assets/admin/plugins/select2/css/select2.min.css" rel="stylesheet">

    <!-- Mutipleselect css-->
	<link rel="stylesheet" href="~/assets/admin/plugins/multipleselect/multiple-select.css">


	<!-- DATA TABLE CSS -->
	<link href="~/assets/admin/plugins/datatable/css/dataTables.bootstrap5.css" rel="stylesheet" />
	<link href="~/assets/admin/plugins/datatable/css/buttons.bootstrap5.min.css" rel="stylesheet">
	<link href="~/assets/admin/plugins/datatable/css/responsive.bootstrap5.css" rel="stylesheet" />


</head>
<body class="ltr main-body leftmenu">
    <!-- Loader -->
    <div id="global-loader">
        <img src="../assets/img/loader.svg" class="loader-img" alt="Loader">
    </div>
    <!-- End Loader -->



	<div class="page">

		<!-- Main Header-->
		<div class="main-header side-header sticky">
			<div class="main-container container-fluid">
				<div class="main-header-left">
					<a class="main-header-menu-icon" href="javascript:void(0)" id="mainSidebarToggle"><span></span></a>
					<div class="hor-logo">
						<a class="main-logo" href="index.html">
							<img src="../assets/img/brand/logo.png" class="header-brand-img desktop-logo" alt="logo">
							<img src="../assets/img/brand/logo-light.png" class="header-brand-img desktop-logo-dark"
								 alt="logo">
						</a>
					</div>
				</div>
				<div class="main-header-center">
					<div class="responsive-logo">
						<a href="index.html"><img src="../assets/img/brand/logo.png" class="mobile-logo" alt="logo"></a>
						<a href="index.html">
							<img src="../assets/img/brand/logo-light.png" class="mobile-logo-dark"
								 alt="logo">
						</a>
					</div>
				</div>
				<div class="main-header-right">
					<button class="navbar-toggler navresponsive-toggler" type="button" data-bs-toggle="collapse"
							data-bs-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4"
							aria-expanded="false" aria-label="Toggle navigation">
						<i class="fe fe-more-vertical header-icons navbar-toggler-icon"></i>
					</button><!-- Navresponsive closed -->
					<div class="navbar navbar-expand-lg  nav nav-item  navbar-nav-right responsive-navbar navbar-dark  ">
						<div class="collapse navbar-collapse" id="navbarSupportedContent-4">
							<div class="d-flex order-lg-2 ms-auto">
								
								<!-- Theme-Layout -->
								<d	iv class="dropdown d-flex main-header-theme">
									<a class="nav-link icon layout-setting">
										<span class="dark-layout">
											<i class="fe fe-sun header-icons"></i>
										</span>
										<span class="light-layout">
											<i class="fe fe-moon header-icons"></i>
										</span>
									</a>
								</d	iv>
								<!-- Theme-Layout -->
								
								
							
								<!-- Profile -->
								<div class="dropdown main-profile-menu">
									<a class="d-flex" href="javascript:void(0)">
										<span class="main-img-user">
											<img alt="avatar"
												 src="~/assets/admin/img/users/1.jpg">
										</span>
									</a>
									<div class="dropdown-menu">
										<div class="header-navheading">
											<h6 class="main-notification-title">Admin</h6>											
										</div>									
										<a class="dropdown-item" asp-action="Logout" asp-controller="Admin">
											<i class="fe fe-power"></i> Log Out
										</a>
									</div>
								</div>
								<!-- Profile -->
								
								<!-- Sidebar -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Main Header-->
		<!-- Sidemenu -->
		<div class="sticky">
			<div class="main-menu main-sidebar main-sidebar-sticky side-menu">
				<div class="main-sidebar-header main-container-1 active">
					<div class="sidemenu-logo">
						<a class="main-logo" href="index.html">
							<img src="../assets/img/brand/logo-light.png" class="header-brand-img desktop-logo" alt="logo">
							<img src="../assets/img/brand/icon-light.png" class="header-brand-img icon-logo" alt="logo">
							<img src="../assets/img/brand/logo.png" class="header-brand-img desktop-logo theme-logo" alt="logo">
							<img src="../assets/img/brand/icon.png" class="header-brand-img icon-logo theme-logo" alt="logo">
						</a>
					</div>
					<div class="main-sidebar-body main-body-1">
						<div class="slide-left disabled" id="slide-left"><i class="fe fe-chevron-left"></i></div>
						<ul class="menu-nav nav">
							<li class="nav-header"><span class="nav-label">Dashboard</span></li>
							<li class="nav-item">
								<a class="nav-link" href="@Url.Action("Index", "Admin")">
									<span class="shape1"></span>
									<span class="shape2"></span>
									<i class="ti-home sidemenu-icon menu-icon "></i>
									<span class="sidemenu-label">User</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="@Url.Action("Index", "Contacts")">
									<span class="shape1"></span>
									<span class="shape2"></span>
									<i class="ti-home sidemenu-icon menu-icon "></i>
									<span class="sidemenu-label">Contacts</span>
								</a>
							</li>
						</ul>
						<div class="slide-right" id="slide-right"><i class="fe fe-chevron-right"></i></div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Sidemenu -->
		@RenderBody()

	</div>
	<!-- End Page -->
	<!-- Back-to-top -->
	<a href="#top" id="back-to-top"><i class="fe fe-arrow-up"></i></a>

	<!-- Jquery js-->
	<script src="~/assets/admin/plugins/jquery/jquery.min.js"></script>
	<script src="~/assets/user/js/libs/jquery-3.1.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- Bootstrap js-->
	<script src="~/assets/admin/plugins/bootstrap/js/popper.min.js"></script>
	<script src="~/assets/admin/plugins/bootstrap/js/bootstrap.min.js"></script>

	<!-- Internal Chart.Bundle js-->
	<script src="~/assets/admin/plugins/chart.js/Chart.bundle.min.js"></script>

	<!-- Peity js-->
	<script src="~/assets/admin/plugins/peity/jquery.peity.min.js"></script>

	<!-- Select2 js-->
	 <script src="~/assets/admin/plugins/select2/js/select2.min.js"></script>



	<script src="~/assets/admin/plugins/datatable/js/jquery.dataTables.min.js"></script>
	<script src="~/assets/admin/plugins/datatable/js/dataTables.bootstrap5.js"></script>
	<script src="~/assets/admin/plugins/datatable/js/dataTables.buttons.min.js"></script>
	<script src="~/assets/admin/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
	<script src="~/assets/admin/plugins/datatable/js/jszip.min.js"></script>
	<script src="~/assets/admin/plugins/datatable/pdfmake/pdfmake.min.js"></script>
	<script src="~/assets/admin/plugins/datatable/pdfmake/vfs_fonts.js"></script>
	<script src="~/assets/admin/plugins/datatable/js/buttons.html5.min.js"></script>
	<script src="~/assets/admin/plugins/datatable/js/buttons.print.min.js"></script>
	<script src="~/assets/admin/plugins/datatable/js/buttons.colVis.min.js"></script>
	<script src="~/assets/admin/plugins/datatable/dataTables.responsive.min.js"></script>
	<script src="~/assets/admin/plugins/datatable/responsive.bootstrap5.min.js"></script>
	<script src="~/assets/admin/js/table-data.js"></script>
	<script src="~/assets/admin/js/select2.js"></script>
	<!-- Perfect-scrollbar js -->
	<script src="~/assets/admin/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

	<!-- Sidemenu js -->
	<script src="~/assets/admin/plugins/sidemenu/sidemenu.js"></script>

	<!-- Sidebar js -->
	<script src="~/assets/admin/plugins/sidebar/sidebar.js"></script>

	<!-- Internal Morris js -->
	<script src="~/assets/admin/plugins/raphael/raphael.min.js"></script>
	<script src="~/assets/admin/plugins/morris.js/morris.min.js"></script>

	<!-- Circle Progress js-->
	<script src="~/assets/admin/js/circle-progress.min.js"></script>
	<script src="~/assets/admin/js/chart-circle.js"></script>

	<!-- Internal Dashboard js-->
	<script src="~/assets/admin/js/index.js"></script>

	<!-- Color Theme js -->
	<script src="~/assets/admin/js/themeColors.js"></script>

	<!-- Sticky js -->
	<script src="~/assets/admin/js/sticky.js"></script>

	<!-- Custom js -->
	<script src="~/assets/admin/js/custom.js"></script>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
