@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<online_sms.Models.User>

<ul class="list-group">
    @foreach (var contact in Model)
    {
        <li style="background: transparent;border: 1px solid gray;margin-top: 5px;margin-left:10px;" class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <img src="@(string.IsNullOrEmpty(contact.ProfilePhoto) ? Url.Content("~/assets/img/person.png") : contact.ProfilePhoto)" width="40px" height="40px" style="border-radius:50%;" class="me-2" alt="avatar" />
                <div class="ms-2">
                    <p>@contact.Username</p>
                    <p>@contact.FirstName</p>
                </div>
            </div>
            <form asp-action="SendFriendRequest" asp-controller="userdata">
                <input type="hidden" name="friend_id" value="@contact.UserId" />
                <button class="btn btn-primary" >Send Request</button>
            </form>
           
        </li>
    }
</ul>
