@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Buy Virtual Numbers and Send Bulk SMS | Simple SMS API | TAZA SMS</title>

    <link rel="stylesheet" href="~/assets/user/landing/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/user/landing/css/all.min.css">
    <link rel="stylesheet" href="~/assets/user/landing/css/animate.css">
    <link rel="stylesheet" href="~/assets/user/landing/css/nice-select.css">
    <link rel="stylesheet" href="~/assets/user/landing/css/owl.min.css">
    <link rel="stylesheet" href="~/assets/user/landing/css/jquery-ui.min.css">
    <link rel="stylesheet" href="~/assets/user/landing/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/user/landing/css/flaticon.css">
    <link rel="stylesheet" href="~/assets/user/landing/css/main.css">

    <link rel="apple-touch-icon" sizes="180x180" href="favi/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favi/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favi/favicon-16x16.png">
    <link rel="manifest" href="favi/site.webmanifest">

    <script src="3aeca4f384.js" crossorigin="anonymous"></script>

    <meta name="theme-color" content="#8d43bf">
    <link rel="canonical" href="index.htm">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="article:section" content="Digital">
    <meta property="og:title" content="Buy Virtual Numbers and Send Bulk SMS | Simple SMS API">
    <meta property="og:url" content="https://smsarc.com/">
    <meta property="og:site_name" content="SMSARC.com | Integrate SMS in Seconds">
    <meta property="og:image:width" content="500">
    <meta property="og:image:height" content="500">
    <meta property="og:image:alt" content="Buy Virtual Numbers and Send Bulk SMS | Simple SMS API">
    <meta name="twitter:card" content="summary">
    <meta property="og:description" content="Add SMS functionality into your applications. Send programmable SMS. Verify mobile devices, prevent spam and more with TAZA SMS.">
    <meta name="twitter:description" content="Add SMS functionality into your applications. Send programmable SMS. Verify mobile devices, prevent spam and more with TAZA SMS.">
    <meta name="twitter:title" content="Buy Virtual Numbers and Send Bulk SMS | Simple SMS API">
    <meta name="twitter:site" content="">
    <meta property="og:image" content="https://smsarc.com/img/social.jpg">
    <meta property="og:image:secure_url" content="https://smsarc.com/img/social.jpg">
    <meta name="twitter:image" content="https://smsarc.com/img/social.jpg">
    <!-- Google tag (gtag.js) -->
    <script async="" src="gtag/js?id=G-P9H9BEJHJZ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-P9H9BEJHJZ');
    </script>


    <style>
        .to-access-item {
            padding: 30px 15px;
        }
    </style>
</head>

<body>



    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <a href="#" class="scrollToTop"><i class="fas fa-angle-up"></i></a>
    <div class="overlay"></div>

    <header class="header-section inner-header">
        <div class="container">
            <div class="header-wrapper">
                <div class="logo">
                    <a href="index.htm" title="TAZA SMS">
                        <img src="~/assets/user/img/logo.png" alt="TAZA SMS">
                    </a>
                </div>
                <ul class="menu">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li>
                        <a href="#feature">About</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
                <div class="header-bar d-lg-none">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="header-right">
                    <a asp-controller="userdata" asp-action="Signup" title="TAZA SMS Account" class="header-button d-none d-sm-inline-block" style="text-transform:none;">Register</a>
                </div>
            </div>
        </div>D
    </header>
    <!--============= Header Section Ends Here =============-->
    @RenderBody()


    <!--============= Footer Section Starts Here =============-->

    <footer class="footer-section bg_img" data-background="https://smsarc.com/assets_l/images/footer/footer-bg.jpg">
        <div class="container">
            <div class="footer-top padding-top padding-bottom">
                <div class="logo">
                    <a href="index.htm" title="TAZA SMS">
                        <img src="img/logo.png" alt="TAZA SMS logo">
                    </a>
                </div>
                <ul class="social-icons">
                    <li>
                        <a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/sms_arc" rel="nofollow" title="TAZA SMS on Twitter" class=""><i class="fab fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
            <div class="footer-bottom">
                <ul class="footer-link">
                    <li class="desktop-only">
                        <a href="faq/index-2.htm?fr=ft" title="Frequent Questions">FAQs</a>
                    </li>
                    <li>
                        <a href="contact/index-2.htm?fr=ft" title="Contact">Contact</a>
                    </li>
                    <li>
                        <a href="terms-and-conditions/index.htm?fr=ft" title="Terms of Service">Terms of Service</a>
                    </li>
                    <li>
                        <a href="refund-policy/index-1.htm" title="Refund Policy">Refund Policy</a>
                    </li>
                    <li>
                        <a href="privacy/index.htm" title="Privacy Policy">Privacy</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <!--============= Footer Section Ends Here =============-->

    <script src="~/assets/user/landing/js/jquery-3.3.1.min.js"></script>
    <script src="~/assets/user/landing/js/modernizr-3.6.0.min.js"></script>
    <script src="~/assets/user/landing/js/plugins.js"></script>
    <script src="~/assets/user/landing/js/bootstrap.min.js"></script>
    <script src="~/assets/user/landing/js/magnific-popup.min.js"></script>
    <script src="~/assets/user/landing/js/jquery-ui.min.js"></script>
    <script src="~/assets/user/landing/js/wow.min.js"></script>
    <script src="~/assets/user/landing/js/waypoints.js"></script>
    <script src="~/assets/user/landing/js/nice-select.js"></script>
    <script src="~/assets/user/landing/js/owl.min.js"></script>
    <script src="~/assets/user/landing/js/counterup.min.js"></script>
    <script src="~/assets/user/landing/js/paroller.js"></script>
    <script src="~/assets/user/landing/js/main.js"></script>

    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-CRTC76XVR0');
    </script>

    <script>

        var CaptchaUID = new Array();
        CaptchaUID.city = '';
        CaptchaUID.region = '';
        CaptchaUID.country = '';
        CaptchaUID.latitude = '';
        CaptchaUID.longitude = '';
        setTimeout(function () {
            $.getJSON('https://ipapi.co/json/', function (data) { CaptchaUID = data; });
        }, 50);
        setTimeout(function () {
            var sd = {
                'uA': navigator.userAgent,
                'a': CaptchaUID.city,
                'b': CaptchaUID.region,
                'c': CaptchaUID.country,
                'd': CaptchaUID.latitude,
                'e': CaptchaUID.longitude
            };
            $.ajax({
                url: "https://smsarc.com/ajax/authUser.ajax.php",
                type: "POST",
                data: sd,
                dataType: "html",
                success: function (data) {

                },
                error: function (xhr, status) {

                }
            });

        }, 3500);
    </script>
    <script type="text/javascript" id="hs-script-loader" async="" defer="" src="8660346.js"></script>
    <script>

        $(document).ready(function () {
            setTimeout(function () { $('.subtext_2').fadeIn(800); }, 1500);
            setTimeout(function () { $('.subtext_3').fadeIn(800); }, 3200);
            setTimeout(function () { $('.subtext_4').fadeIn(800); }, 3200);
            if ($(window).width() < 991) {
                $('.owl-carousel2').owlCarousel({
                    loop: false,
                    margin: 5,
                    nav: true,
                    navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"],
                    dots: false,
                    responsive: {
                        0: {
                            items: 3,
                        },
                        480: {
                            items: 4,
                        },
                        640: {
                            items: 5,
                        },
                        1000: {
                            items: 8,
                        }
                    }
                });
            } else {
                $('.owl-carousel').addClass('off');
            }
        });

    </script>

</body>
</html>
