@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Create Account | SMS Arc</title>

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/all.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/assets/css/owl.min.css">
    <link rel="stylesheet" href="~/assets/css/jquery-ui.min.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/assets/css/main.css">

    <link rel="apple-touch-icon" sizes="180x180" href="../favi/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favi/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favi/favicon-16x16.png">
    <link rel="manifest" href="../favi/site.webmanifest">

    <script src="../3aeca4f384.js" crossorigin="anonymous"></script>



    <meta name="theme-color" content="#8d43bf">
    <link rel="canonical" href="index-10.htm">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="article:section" content="Digital">
    <meta property="og:title" content="Create Account">
    <meta property="og:url" content="https://smsarc.com/register/">
    <meta property="og:site_name" content="SMSARC.com | Integrate SMS in Seconds">
    <meta property="og:image:width" content="500">
    <meta property="og:image:height" content="500">
    <meta property="og:image:alt" content="Create Account">
    <meta name="twitter:card" content="summary">
    <meta property="og:description" content="Add SMS functionality into your applications. Send programmable SMS. Verify mobile devices, prevent spam and more with SMS Arc.">
    <meta name="twitter:description" content="Add SMS functionality into your applications. Send programmable SMS. Verify mobile devices, prevent spam and more with SMS Arc.">
    <meta name="twitter:title" content="Create Account">

    <meta property="og:image" content="https://smsarc.com/img/social.jpg">
    <meta property="og:image:secure_url" content="https://smsarc.com/img/social.jpg">
    <meta name="twitter:image" content="https://smsarc.com/img/social.jpg">
    <!-- Google tag (gtag.js) -->
    <script async="" src="../gtag/js?id=G-P9H9BEJHJZ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-P9H9BEJHJZ');
    </script>

    <style>
        svg path {
            fill: #FFF;
        }
    </style>

</head>
<body>

    <div class="main">

        <div class="account-section bg_img" data-background="https://smsarc.com/assets_l/images/account-bg.jpg">
            <div class="container">
                <div class="account-wrapper">
                    <div class="account-header" style="padding:0;">
                        <h4 class="title">Start Sending SMS</h4>
                    </div>
                    <div class="account-body">
                        <form class="account-form" action="https://smsarc.com/register/" method="POST">
                            <div class="form-group">
                                <label for="first_name">First Name</label>
                                <input type="text" placeholder="Enter Your First Name" name="first_name" value="" id="first_name" required="">
                            </div>
                            <div class="form-group">
                                <label for="last_name">Last Name</label>
                                <input type="text" placeholder="Enter Your Last Name" name="last_name" value="" id="last_name" required="">
                            </div>
                            <div class="form-group">
                                <label for="sign-up">Your Email </label>
                                <input type="email" placeholder="Enter Your Email" name="email" value="" id="sign-up" required="">
                            </div>
                            <div class="form-group">
                                <label for="sign-up">Password </label>
                                <input type="password" placeholder="Your Password" name="password" id="sign-up" required="">
                            </div>
                            <div class="form-group">
                                <label for="sign-up">Confirm Password </label>
                                <input type="password" placeholder="Confirm Your Password" name="confirm-password" id="sign-up" required="" style="margin-bottom:-35px;">

                                <label for="terms">Agree to our Terms of Use </label>
                                <input type="checkbox" name="tos" value="1" id="terms" required="" style="width: 20px; margin-left: 10px; position: relative; top: 21px;">
                            </div>
                            <div class="form-group text-center">
                                <input type="hidden" name="register-submit" value="1">
                                <input type="hidden" name="referred" value="0">
                                <input type="hidden" name="page" value="">
                                <button type="submit">Create Account</button>
                                <span class="d-block mt-15">Already have an account? <a href="../login/index.htm" title="SMS Arc Login">Sign In</a></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JS -->
    <!-- Jquery js-->
    <script src="~/assets/plugins/jquery/jquery.min.js"></script>

    <script src="~/assets/js/main.js"></script>
</body>
</html>
