
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LandingLayout.cshtml";
}


<style>
    .bottom-shape{
        top:0px !important;

    }</style>

<section class="banner-14 oh  pos-rel" >
    <div class="bottom-shape d-lg-block d-none">
        <img src="~/assets/user/banner-bg-14.jpg" alt="banner">
    </div>
    <div class="container">
        <div class="row align-items-center justify-content-between flex-wrap-reverse">
            <div class="col-lg-6 rtl">
                <img src="~/assets/user/landing/images/banner/banner-15.png" alt="banner" style="width:100%; max-width:600px;">


            </div>
            <div class="col-lg-5" style="position:relative; top:-80px;">
                <div class="banner-content-14 cl-white">
                    <h1 class="title" style="font-size:28px;">Manage Your SMS Marketing</h1>
                    <p class="cate" style="font-size:14px; font-weight:bold;">
                        Instant virtual numbers with real time reporting and capability of a regular phone. Send bulk text messages, or integrate our API into your next project!
                        <span style="display:block; font-size:10px; color:#eee;">119 teams moved to SMS Arc this week</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<!--============= To Access Section Starts Here =============-->
<section class="to-access-section padding-top padding-bottom bg_img mb-lg-5" data-background="~/assets/user/img/images/feature/to-access-bg.png" id="feature">
    <div class="container">
        <div class="section-header">
            <h5 class="cate">Let's Enhance Your Business</h5>
            <h2 class="title">Virtual Numbers</h2>
            <p>
                SMS Arc allows you to browse and activate virtual numbers all over the world.
                Once you have a number, it can be configured to meet your exact needs.
                Whether you want to forward calls or receive SMS by email, our self serve platform can help you get connected in seconds.
            </p>
        </div>
        <div class="row mb-30 justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="to-access-item">
                    <div class="to-access-thumb">
                        <span class="anime"></span>
                        <div class="thumb">
                            <img src="~/assets/user/img/images/icon/access3.png" alt="SMS Forwarding">
                        </div>
                    </div>
                    <h5 class="title">SMS Forwarding</h5>
                    <a href="docs/sms-forwarding-setup/index-1.htm?fr=home-cta" title="SMS Forwarding">Get Started</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="to-access-item">
                    <div class="to-access-thumb">
                        <span class="anime"></span>
                        <div class="thumb">
                            <img src="~/assets/user/img/images/icon/access1.png" alt="Developer API">
                        </div>
                    </div>
                    <h5 class="title">Developer API</h5>
                    <a href="sms-api/index-1.htm?fr=home-cta" title="SMS API">Get Started</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="to-access-item active">
                    <div class="to-access-thumb">
                        <span class="anime"></span>
                        <div class="thumb">
                            <img src="~/assets/user/img/images/icon/access4.png" alt="SMS">
                        </div>
                    </div>
                    <h5 class="title">Send Bulk SMS</h5>
                    <a href="bulk-sms/index-1.htm?fr=home-cta" title="Send Bulk SMS">Get Started</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="to-access-item">
                    <div class="to-access-thumb">
                        <span class="anime"></span>
                        <div class="thumb">
                            <img src="~/assets/user/img/images/icon/access2.png" alt="SMS Arc">
                        </div>
                    </div>
                    <h5 class="title">Call Forwarding</h5>
                    <a href="docs/toll-free-call-forwarding-setup/index-1.htm?fr=home-cta" title="SMS Forwarding">Get Started</a>
                </div>
            </div>
        </div>
        <div class="group feature_startIntegrating_buttons faster-content text-center">
            <a href="register/index.htm?fr=home" title="Start Using SMS Arc" class="get-button active">Create Free Account</a>
        </div>
    </div>
</section>
<!--============= To Access Section Ends Here =============-->
<!--============= How It Works Section Starts Here =============-->
<section class="work-section bg_img mb-md-95 pb-md-0" data-background="~/assets/user/img/images/work/work-bg.jpg">
    <div class="oh padding-top pos-rel">
        <div class="top-shape d-none d-lg-block">
            <img src="assets_l/css/img/work-shape.png" alt="Simple SMS Marketing">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-xl-7">
                    <div class="section-header left-style cl-white">
                        <br><br><h2 class="title">Simple SMS Marketing</h2>
                        <p>Sending promotional texts and announcements is easy with SMS Arc. Send bulk sms with a single button press from any mobile device. SMS marketing just got easier!</p>
                    </div>
                </div>
            </div>
            <div class="work-slider">
                <div class="work-item">
                    <div class="work-thumb">
                        <img src="~/assets/user/img/images/work/work1.png" alt="Send International SMS">
                    </div>
                    <div class="work-content cl-white">
                        <h3 class="title">Send International SMS</h3>
                        <p>
                            All messages are sent and received instantly, just like with regular text messaging.
                            Having partnered with and supported over 1,800 carriers, SMS Arc makes sure your messages are delivered reliably all over the globe.
                        </p>
                        <a href="bulk-sms/index-2.htm?fr=home-cta2" title="Send Bulk SMS" class="get-button white light">Send Bulk SMS <i class="flaticon-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--============= How It Works Section Ends Here =============-->
<!--============= Advance Feature Section Starts Here =============-->
<section class="advance-feature-section oh">
    <div class="container">
        <div class="advance-feature-item style-two">
            <div class="advance-feature-thumb">
                <img src="~/assets/user/img/images/feature/advance4.png" alt="Virtual Numbers Online">
            </div>
            <div class="advance-feature-content">
                <div class="section-header left-style mb-olpo">
                    <h5 class="cate">Buy Virtual Numbers &dash; $2.00</h5>
                    <h2 class="title" style="font-size:32px;">Instant Virtual Numbers</h2>
                    <p>
                        SMS Arc provides a platform to manage virtual numbers and instantly configure them to handle any number of business operations.
                        Virtual numbers help you to connect with customers and simplify your communication.
                        Forward Calls, SMS, and more. Our platform helps you to instantly activate numbers all over the world.
                    </p>
                </div>
                <a href="register/index-1.htm?fr=home-cta2" title="Create Free Account" class="get-button">Create Free Account <i class="flaticon-right"></i></a><br><br>
            </div>
        </div>
        <div class="advance-feature-item style-two ">
            <div class="advance-feature-thumb">
                <img src="~/assets/user/img/images/feature/advance5.png" alt="Toll Free Call Forwarding">
            </div>
            <div class="advance-feature-content">
                <div class="section-header left-style mb-olpo">
                    <h5 class="cate">Toll Free Forwarding</h5>
                    <h2 class="title">Call Forwarding</h2>
                    <p>
                        Call forwarding allows you to receive calls from a local or toll free number and direct them to your existing phone number.
                        Help customers get connected easier by using a toll free number for each employee and eliminating phone extensions.
                    </p>
                </div>
                <a href="docs/toll-free-call-forwarding-setup/index-2.htm?fr=home-cta2" title="Toll Free Call Forwarding" class="get-button">Setup Call Forwarding <i class="flaticon-right"></i></a><br><br>
            </div>
        </div>
        <div class="advance-feature-item style-two">
            <div class="advance-feature-thumb">
                <img src="~/assets/user/img/images/feature/advance6.png" alt="SMS Gateway for Developers">
            </div>
            <div class="advance-feature-content">
                <div class="section-header left-style mb-olpo">
                    <h5 class="cate">SMS Gateway for Developers</h5>
                    <h2 class="title">Simple SMS API</h2>
                    <p>
                        Our SMS API allows developers to integrate text messaging capability into their applications and projects.
                        Integrate SMS alerts to send messages when orders are placed, when critical errors are encountered and more.
                    </p>
                </div>
                <a href="sms-api/index-2.htm?fr=home-cta2" title="SMS API" class="get-button">View SMS API <i class="flaticon-right"></i></a><br><br>
            </div>
        </div>
        <div class="advance-feature-item style-two">
            <div class="advance-feature-thumb">
                <img src="~/assets/user/img/images/feature/feat8.png" alt="Forward SMS To Email or Phone">
            </div>
            <div class="advance-feature-content">
                <div class="section-header left-style mb-olpo">
                    <h5 class="cate">Forward SMS To Email or Phone</h5>
                    <h2 class="title">SMS Forwarding</h2>
                    <p>
                        SMS forwarding allows you to receive SMS sent to your virtual numbers, and access them by email or on your mobile phone.
                        Forwarding SMS to email enables you to use your favourite email client to filter and search for messages.
                    </p>
                </div>
                <a href="docs/sms-forwarding-setup/index-2.htm?fr=home-cta2" title="SMS Forwarding" class="get-button">Setup SMS Forwarding <i class="flaticon-right"></i></a><br><br>
            </div>
        </div>
    </div>
</section>
<!--============= Advance Feature Section Ends Here =============-->


<section class="convence-feature padding-bottom bg_img pb-xl-0" data-background="~/assets/user/img/images/bg/c-feature.jpg" id="feature">
    <div class="lg-oh" style="padding-top:45px;">
        <div class="container">




            <div class="owl-theme owl-carousel feature-item-2-slider mb--10">
                <div class="feature-item-2">
                    <div class="feature-thumb">
                        <img src="~/assets/user/img/images/feature/advance3.png" alt="Instant SMS Delivery">
                    </div>
                    <div class="feature-content">
                        <span class="title">Instant SMS Delivery</span><br>
                        <span>Send SMS to over 180 different countries.</span>
                    </div>
                </div>
                <div class="feature-item-2">
                    <div class="feature-thumb">
                        <img src="~/assets/user/img/images/feature/advance2.png" alt="Simple SMS API">
                    </div>
                    <div class="feature-content">
                        <span class="title">Easy Integration</span><br>
                        <span>It's as simple as one line of code.</span>
                    </div>
                </div>
                <div class="feature-item-2">
                    <div class="feature-thumb">
                        <img src="~/assets/user/img/images/feature/advance1.png" alt="Cheap SMS">
                    </div>
                    <div class="feature-content">
                        <span class="title">Simple Pricing</span><br>
                        <span>One simple price for every destination.</span>
                    </div>
                </div>
            </div>

            <div class="row align-items-center flex-wrap-reverse">
                <div class="col-md-6 col-lg-7">
                    <div class="convencing-feature-thumb">
                        <br><img src="~/assets/user/img/images/feature/cf1.png" alt="Programmable SMS API">
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="convencing-feature-content">
                        <h3 class="title">What will you create?</h3>
                        <p>
                            Get access to everyone in your
                            organization with customizable channels and a team directory.
                        </p>
                        <a href="docs/index-1.htm" class="get-button">View Code Samples <i class="flaticon-right"></i></a><br>
                    </div>
                </div>
            </div>

        </div>
    </div>






</section>
<!--============= Convence Feature Section Ends Here =============-->






<div class="container">
    <div class="counter-wrapper-area-2">
        <div class="counter-wrapper-2">
            <div class="counter-item-2">
                <h2 class="title"><span class="intitle counter">1,500</span><span class="intitle">+</span></h2>
                <span class="name">Partner Carriers</span>
            </div>
            <div class="counter-item-2">
                <h2 class="title"><span class="intitle counter">180</span><span class="intitle">+</span></h2>
                <span class="name">Countries</span>
            </div>
            <div class="counter-item-2">
                <h2 class="title"><span class="intitle counter">99.99</span><span class="intitle">%</span></h2>
                <span class="name">Uptime</span>
            </div>
            <div class="counter-item-2">
                <h2 class="title"><span class="intitle counter">200</span><span class="intitle">+</span></h2>
                <span class="name">Phone Number Types</span>
            </div>
        </div>
    </div>
</div>





<!--============= Coverage Section Starts Here =============-->
<section class="experience-section padding-bottom padding-top bg_img top_center bg-max-lg-ash oh" data-background="~/assets/user/img/images/feature/experience-bg.png" id="feature">
    <div class="container">
        <span class="desktop-only"><br><br></span>
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="section-header left-style coverage-header">
                    <h5 class="cate">Secure Your App. Validate Users.</h5>
                    <h2 class="title">Verify Mobile Devices</h2>
                    <p>
                        Easily send codes to the mobile device of your visitor to verify ownership, add additional layers of security, and eliminate spam.
                        Join thousands of other companies using SMS to improve their applications.
                    </p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="coverage-right-area text-lg-right">
                    <h2 class="amount">22,112,921+</h2>
                    <a href="#0">Devices Verified <i class="fas fa-tablet-alt"></i></a>
                </div>
            </div>
        </div>
        <div class="coverage-wrapper bg_img" data-background="~/assets/user/img/images/bg/world-map.png">
            <b style="font-size:12px;" class="desktop-only">Devices Verified:</b><br>
            <div class="border-item-1">
                <span class="name">North America</span>
                <h2 class="title">70.7%</h2>
            </div>
            <div class="border-item-2">
                <span class="name">Asia</span>
                <h2 class="title">14.4%</h2>
            </div>
            <div class="border-item-3">
                <span class="name">North Europe</span>
                <h2 class="title">8.4%</h2>
            </div>
            <div class="border-item-4">
                <span class="name">South America</span>
                <h2 class="title">1.8%</h2>
            </div>
            <div class="border-item-5">
                <span class="name">Africa</span>
                <h2 class="title">1.8%</h2>
            </div>
            <div class="border-item-6">
                <span class="name">Australia</span>
                <h2 class="title">3%</h2>
            </div>
        </div>
    </div>
</section>
<!--============= Coverage Section Ends Here =============-->
<!--============= Pricing Section Starts Here =============-->
<section class="pricing-section padding-top oh padding-bottom pb-md-0 bg_img pos-rel" data-background="~/assets/user/img/images/bg/pricing-bg.jpg" id="pricing">
    <div class="top-shape d-none d-md-block">
        <img src="assets_l/css/img/top-shape.png" alt="css">
    </div>
    <div class="bottom-shape d-none d-md-block">
        <img src="assets_l/css/img/bottom-shape.png" alt="css">
    </div>
    <div class="ball-2" data-paroller-factor="-0.30" data-paroller-factor-lg="0.60" data-paroller-type="foreground" data-paroller-direction="horizontal">
        <img src="~/assets/user/img/images/balls/1.png" alt="balls">
    </div>
    <div class="ball-3" data-paroller-factor="0.30" data-paroller-factor-lg="-0.30" data-paroller-type="foreground" data-paroller-direction="horizontal">
        <img src="~/assets/user/img/images/balls/2.png" alt="balls">
    </div>
    <div class="ball-4" data-paroller-factor="0.30" data-paroller-factor-lg="-0.30" data-paroller-type="foreground" data-paroller-direction="horizontal">
        <img src="~/assets/user/img/images/balls/3.png" alt="balls">
    </div>
    <div class="ball-5" data-paroller-factor="0.30" data-paroller-factor-lg="-0.30" data-paroller-type="foreground" data-paroller-direction="vertical">
        <img src="~/assets/user/img/images/balls/4.png" alt="balls">
    </div>
    <div class="ball-6" data-paroller-factor="-0.30" data-paroller-factor-lg="0.60" data-paroller-type="foreground" data-paroller-direction="horizontal">
        <img src="~/assets/user/img/images/balls/5.png" alt="balls">
    </div>
    <div class="ball-7" data-paroller-factor="-0.30" data-paroller-factor-lg="0.60" data-paroller-type="foreground" data-paroller-direction="vertical">
        <img src="~/assets/user/img/images/balls/6.png" alt="balls">
    </div>
    <div class="container">
        <div class="section-header pb-30 cl-white">
            <h5 class="cate">Ready to Get Started?</h5>
            <h2 class="title">SMS Code Samples</h2>
            <p>
                Before you create your own solution, check our prebuilt integrations and documentation to help you get started.
            </p>
        </div>
        <div class="row justify-content-center mb-30-none">
            <div class="col-sm-10 col-md-6 col-lg-4">

                <div class="pricing-item">
                    <span class="tag">Integration</span>
                    <div class="pricing-thumb">
                        <div class="feature-item-2">
                            <div class="feature-thumb" style="max-width:110px;max-height:110px;">
                                <img src="~/assets/user/img/images/feature/featurei2.png" alt="SMS API Gateway">
                            </div>
                        </div>
                    </div>
                    <div class="pricing-content">
                        <div class="pricing-header">
                            <span class="desktop-only"><br></span>
                            <h2 class="title">SMS API</h2>
                            <span class="cate">For Developers</span>
                        </div>
                        <ul>
                            <li>Send & Receive Text Messages</li>
                            <li><b>sms($to, $from, $msg)</b></li>
                            <li>Code Samples in 7 Languages</li>

                        </ul>
                        <a href="sms-api/index-3.htm?fr=homepr" title="SMS API for Developers" class="button-3 d-block active">View More <i class="flaticon-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-4">
                <div class="pricing-item">
                    <span class="tag">Telecom</span>
                    <div class="pricing-thumb">
                        <div class="feature-item-2">
                            <div class="feature-thumb" style="max-width:110px;max-height:110px;">
                                <img src="~/assets/user/img/images/feature/featurei1.png" alt="feature">
                            </div>
                        </div>
                    </div>
                    <div class="pricing-content">
                        <div class="pricing-header">
                            <span class="desktop-only"><br></span>
                            <h2 class="title">Bulk SMS</h2>
                            <span class="cate">Send Promotional SMS</span>
                        </div>
                        <ul>
                            <li>Instant Delivery</li>
                            <li>World Wide Support</li>
                            <li>Starting from $0.0090 / SMS</li>

                        </ul>
                        <a href="bulk-sms/index-3.htm?fr=homepr" title="Send Bulk SMS" class="button-3 d-block active">Get Started <i class="flaticon-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-4">

                <div class="pricing-item">
                    <span class="tag">Security</span>
                    <div class="pricing-thumb">
                        <div class="feature-item-2">
                            <div class="feature-thumb" style="max-width:110px;max-height:110px;">
                                <img src="~/assets/user/img/images/feature/featurei3.png" alt="feature">
                            </div>
                        </div>
                    </div>
                    <div class="pricing-content">
                        <div class="pricing-header">
                            <span class="desktop-only"><br></span>
                            <h2 class="title">Secure</h2>
                            <span class="cate">Forms and Devices</span>
                        </div>
                        <ul>
                            <li>Replaces Google Recaptcha</li>
                            <li>Plug & Play CDN Integration</li>
                            <li>1 Line of Code. Publish in 1 Minute</li>
                        </ul>
                        <a href="sms-captcha/index-1.htm?fr=homepr" title="SMS Captcha" class="button-3 d-block active">SMS Captcha <i class="flaticon-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--============= Pricing Section Ends Here =============-->


<div class="safe-section oh padding-top">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6 col-xl-5 d-none d-lg-block rtl">
                <img src="~/assets/user/img/images/feature/safe.png" alt="feature">
            </div>
            <div class="col-lg-6">
                <div class="safe-content">
                    <div class="section-header left-style mb-olpo">
                        <h5 class="cate">14 Days Money Back Guarantee!</h5>
                        <h2 class="title">No Questions Asked</h2>
                        <p>
                            Don't worry! You are fully protected by our no questions asked refund policy.
                            If you SMS ARC does not meet your needs over the next 14 days, just let us know and we will process your refund.
                            No questions asked.
                        </p>
                    </div>
                    <div class="group">
                        <a href="refund-policy/index.htm?fr=homecta" class="get-button active">Refund Policy <i class="flaticon-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="help-section padding-bottom oh">
    <br><br>
    <div class="container">
        <div class="section-header">
            <h5 class="cate">Questions about SMS Arc?</h5>
            <h2 class="title">Reach out for answers!</h2>
            <p>
                You can submit a ticket or review our documentation and frequently asked questions to help get started with SMS Arc.
            </p>
        </div>
        <div class="row justify-content-between">
            <div class="col-lg-6 rtl d-none d-lg-block">
                <img src="~/assets/user/img/images/feature/help.png" alt="feature">
            </div>
            <div class="col-lg-6 col-xl-5 mb-30-none">
                <div class="help-item">
                    <div class="help-thumb">
                        <img src="~/assets/user/img/images/feature/help2.png" alt="help">
                    </div>
                    <div class="help-content">
                        <h5 class="title">Send Ticket</h5>
                        <p><a href="contact/index-1.htm?fr=SA_home">Send a support message</a></p>
                    </div>
                </div>
                <div class="help-item">
                    <div class="help-thumb">
                        <img src="~/assets/user/img/images/feature/help3.png" alt="help">
                    </div>
                    <div class="help-content">
                        <h5 class="title">Explore FAQs</h5>
                        <p><a href="faq/index-1.htm?fr=SA_home">Go to FAQs page</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--============= Custom-Plan Section Ends Here =============-->
