@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model online_sms.Models.User


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Dashboard | TAZA SMS</title>




    <link href="~/assets/user/css/loader.css" rel="stylesheet" type="text/css" />
    <script src="~/assets/user/js/loader.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet">
    <link href="~/assets/user/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/user/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/user/plugins/apex/apexcharts.css" rel="stylesheet" type="text/css">
    <link href="~/assets/user/css/dashboard/dash_2.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/user/css/elements/tooltip.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/assets/user/css/elements/alert.css">
    <link href="~/assets/user/css/users/account-setting.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/3aeca4f384.js" crossorigin="anonymous"></script>
    <script src="~/assets/user/plugins/sweetalerts/promise-polyfill.js"></script>
    <link href="~/assets/user/plugins/sweetalerts/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/user/plugins/sweetalerts/sweetalert.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/user/css/components/custom-sweetalert.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/assets/user/plugins/bootstrap-select/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <!-- Select2 css  -->

    <link href="~/assets/user/plugins/select2/css/select2.min.css" rel="stylesheet">

    <!-- Internal Gallery css-->
    <link href="~/assets/user/plugins/gallery/gallery.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/user/css/dashboard/chat.css">
    <style>
        .apexcharts-tooltip {
            display: none;
        }
    </style>

</head>
<body>


<div class="main-container" id="container">
    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <div id="content" class="main-content">
        <div class="layout-px-spacing d-flex align-items-center justify-content-center">
          
            <div style="
    background: #171e3a;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px -1px gray;">
                <h1 class="fw-bold fs-1 text-center " >Uprage Your Package</h1>
                    <form asp-controller="userdata" asp-action="AddBalance">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="mb-3">
                            <label asp-for="MsgCount" class="col-form-label">Message Count:</label>
                            <input asp-for="MsgCount" type="number" class="form-control" id="msg-count" required />
                            <span asp-validation-for="MsgCount" class="text-danger"></span>
                        </div>

                        <div class="mb-3 d-flex align-items-center justify-content-end">
                            <button type="submit" class="btn btn-primary">Upgrade</button>
                        </div>
                    </form>




            </div>


        </div>
    </div>
    <!--  END CONTENT PART  -->

</div>

    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="~/assets/user/js/libs/jquery-3.1.1.min.js"></script>
    <script src="~/assets/user/bootstrap/js/popper.min.js"></script>
    <script src="~/assets/user/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/user/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/assets/user/js/app.js"></script>
    <script>
        $(document).ready(function () {
            App.init();
        });
    </script>
    <script src="~/assets/user/js/custom.js"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script src="~/assets/user/plugins/apex/apexcharts.min.js"></script>
    <script src="~/assets/user/js/dashboard/dash_2.js"></script>
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->

    <script src="~/assets/user/plugins/bootstrap-select/bootstrap-select.min.js"></script>

    <script src="~/assets/user/plugins/sweetalerts/sweetalert2.min.js"></script>
    <script src="~/assets/user/plugins/sweetalerts/custom-sweetalert.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js'></script>
</body>
</html>
