@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "userLayout";
}

<div class="main-container" id="container">
    <div class="overlay"></div>
    <div class="search-overlay"></div>


    <!--  END TOPBAR  -->
    <!--  BEGIN CONTENT PART  -->
    <div id="content" class="main-content">
        <div class="layout-px-spacing d-flex align-items-center justify-content-center">
          
            <div>
                <h1 class="fw-bold fs-1" >Uprage Your Package</h1>
                <form>

                </form>
            </div>


        </div>
    </div>
    <!--  END CONTENT PART  -->

</div>

