@model online_sms.Models.User

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4 mx-auto">
        <form asp-action="addb">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobileNumber" class="control-label"></label>
                <input asp-for="MobileNumber" class="form-control" />
                <span asp-validation-for="MobileNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MsgCount" class="control-label"></label>
                <input asp-for="MsgCount" class="form-control" />
                <span asp-validation-for="MsgCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VerificationCode" class="control-label"></label>
                <input asp-for="VerificationCode" class="form-control" />
                <span asp-validation-for="VerificationCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsVerified" class="control-label"></label>
                <input asp-for="IsVerified" class="form-control" />
                <span asp-validation-for="IsVerified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dob" class="control-label"></label>
                <input asp-for="Dob" class="form-control" />
                <span asp-validation-for="Dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaritalStatus" class="control-label"></label>
                <input asp-for="MaritalStatus" class="form-control" />
                <span asp-validation-for="MaritalStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hobbies" class="control-label"></label>
                <input asp-for="Hobbies" class="form-control" />
                <span asp-validation-for="Hobbies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sports" class="control-label"></label>
                <input asp-for="Sports" class="form-control" />
                <span asp-validation-for="Sports" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfilePhoto" class="control-label"></label>
                <input asp-for="ProfilePhoto" class="form-control" />
                <span asp-validation-for="ProfilePhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qualification" class="control-label"></label>
                <input asp-for="Qualification" class="form-control" />
                <span asp-validation-for="Qualification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Designation" class="control-label"></label>
                <input asp-for="Designation" class="form-control" />
                <span asp-validation-for="Designation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

