@using System.Security.Claims;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
    Layout = "userLayout";
}

<div class="main-container" id="container">
    <div class="overlay"></div>
    <div class="search-overlay"></div>

  
    <!--  END TOPBAR  -->
    <!--  BEGIN CONTENT PART  -->
    <div id="content" class="main-content">
        <div class="layout-px-spacing">
            <div class="page-header">
                <div class="page-title">
                    <h3>Account Dashboard</h3>
                </div>
                <div class="dropdown filter custom-dropdown-icon">
                    <a class="dropdown-toggle btn" href="#" role="button" id="filterDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="text"><span>Show</span> : Daily Analytics</span> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></a>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="filterDropdown">
                        <a class="dropdown-item" data-value="<span>Show</span> : Daily Analytics" href="javascript:void(0);">Monthly Analytics</a>
                    </div>
                </div>
            </div>


            <div class="row layout-top-spacing">
                <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                    <div class="widget widget-one">
                        <div class="widget-heading">
                            <h6 class="">Total Users</h6>
                        </div>
                        <div class="w-chart">
                            <div class="w-chart-section">
                                <div class="w-detail">
                                    <p class="w-title">Total</p>
                                    <p class="w-stats">@ViewBag.TotalUsers</p>
                                </div>
                                <div class="w-chart-render-one">
                                    <div id="total-users"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
                    <div class="widget widget-five">
                        <div class="widget-content">

                            <div class="header">
                                <div class="header-body">
                                    <h6>Total Friends</h6>
                                </div>
                              
                            </div>
                            <div class="w-content">
                                <div class="">
                                    <p class="task-completed"><span>@ViewBag.TotalFriends</span></p>
                                  
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
                    <div class="widget widget-account-invoice-two"> 
                        <div class="widget-content">
                            <div class="account-box">
                                <div class="info">
                                    <h5 class="">Account Balance</h5>
                                    <p class="inv-balance">@ViewBag.MSGCOUNT</p>
                                </div>
                                <div class="acc-action">                                 
                                    <a asp-action="addb" asp-controller="userdata" asp-route-id="@User.FindFirst(ClaimTypes.Sid)?.Value">Manage Balance</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


           

            </div>




        </div>
    </div>
    <!--  END CONTENT PART  -->

</div>



