@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
	Layout = "userLayout";
}
@model online_sms.Models.UserProfile;

<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<meta name="description" content="Spruha -  Admin Panel HTML Dashboard Template">
	<meta name="author" content="Spruko Technologies Private Limited">
	<meta name="keywords" content="admin,dashboard,panel,bootstrap admin template,bootstrap dashboard,dashboard,themeforest admin dashboard,themeforest admin,themeforest dashboard,themeforest admin panel,themeforest admin template,themeforest admin dashboard,cool admin,it dashboard,admin design,dash templates,saas dashboard,dmin ui design">

	<link rel="icon" href="../assets/img/brand/favicon.ico" type="image/x-icon" />

	<!-- Title -->
	<title>Spruha - Bootstrap Premium HTML Dashboard Template</title>

	<!-- Bootstrap css-->
	@* <link id="style" href="~/assets/admin/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" /> *@

	<!-- Icons css-->
	<link href="~/assets/admin/plugins/web-fonts/icons.css" rel="stylesheet" />
	<link href="~/assets/admin/plugins/web-fonts/font-awesome/font-awesome.min.css" rel="stylesheet">
	<link href="~/assets/admin/plugins/web-fonts/plugin.css" rel="stylesheet" />

	<!-- Style css-->
	<link href="~/assets/admin/css/style.css" rel="stylesheet">

	<!-- Select2 css -->
	<link href="~/assets/admin/plugins/select2/css/select2.min.css" rel="stylesheet">

	<!-- Internal Gallery css-->
	<link href="~/assets/admin/plugins/gallery/gallery.css" rel="stylesheet">

</head>

<body class="ltr main-body leftmenu">

	<!-- Loader -->
	<div id="global-loader">
		<img src="../assets/img/loader.svg" class="loader-img" alt="Loader">
	</div>
	<!-- End Loader -->
	<!-- Page -->
	<div class="container-fluid" >
		<div class="row p-5">
			<div class="col-md-12" >
			<!-- Page Header -->
			<div class="page-header">
				<div>
					<h2 class="main-content-title tx-24 mg-b-5">Profile</h2>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Pages</a></li>
						<li class="breadcrumb-item active" aria-current="page">Profile</li>
					</ol>
				</div>
				<div class="d-flex">
					<div class="justify-content-center">
						<button type="button" class="btn btn-white btn-icon-text my-2 me-2">
							<i class="fe fe-download me-2"></i> Import
						</button>
						<button type="button" class="btn btn-white btn-icon-text my-2 me-2">
							<i class="fe fe-filter me-2"></i> Filter
						</button>
						<button type="button" class="btn btn-primary my-2 btn-icon-text">
							<i class="fe fe-download-cloud me-2"></i> Download Report
						</button>
					</div>
				</div>
			</div>
			<!-- End Page Header -->

			<div class="row square">
				<div class="col-lg-12 col-md-12">
					<div class="card custom-card">
						<div class="card-body">
								@if (Model != null)
								{
									<div class="panel profile-cover">
										<div class="profile-cover__img">
											<img src="@Model.ProfilePhoto" alt="Profile Picture" style="width: 100px; height: 100px; border-radius: 50%;" />
											<h3 class="h3">@Model.Name</h3>
										</div>
									</div>
								}
								else
								{
									<p>Profile not found.</p>
								}
								<div class="btn-profile">
									<button class="btn btn-rounded btn-danger">
										<i class="fa fa-plus"></i>
										<span>Follow</span>
									</button>
									<button class="btn btn-rounded btn-success">
										<i class="fa fa-comment"></i>
										<span>Message</span>
									</button>
								</div>
								<div class="profile-cover__action bg-img"></div>
								<div class="profile-cover__info">
									<ul class="nav">
										<li><strong>26</strong>Projects</li>
										<li><strong>33</strong>Followers</li>
										<li><strong>136</strong>Following</li>
									</ul>
								</div>
							</div>
							<div class="profile-tab tab-menu-heading">
								<nav class="nav main-nav-line p-3 tabs-menu profile-nav-line bg-gray-100">
									<a class="nav-link  active" data-bs-toggle="tab" href="#about">About</a>
									<a class="nav-link" data-bs-toggle="tab" href="#edit">Edit Profile</a>
									<a class="nav-link" data-bs-toggle="tab" href="#Contacts">Contacts</a>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Row -->
			<div class="row row-sm">
				<div class="col-lg-12 col-md-12">
					<div class="card custom-card main-content-body-profile">
						<div class="tab-content">
							<div class="main-content-body tab-pane p-4 border-top-0 active" id="about">
								<div class="card-body p-0 border p-0 rounded-10">
									<div class="p-4">
										<h4 class="tx-15 text-uppercase mb-3">BIOdata</h4>
										<p class="m-b-5">Hi I'm Petey Cruiser,has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
										<div class="m-t-30">
											<h4 class="tx-15 text-uppercase mt-3">Experience</h4>
											<div class=" p-t-10">
												<h5 class="text-primary m-b-5 tx-14">Lead designer / Developer</h5>
												<p class="">websitename.com</p>
												<p><b>2010-2015</b></p>
												<p class="text-muted tx-13 m-b-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
											</div>

											<div class="">
												<h5 class="text-primary m-b-5 tx-14">Senior Graphic Designer</h5>
												<p class="">coderthemes.com</p>
												<p><b>2007-2009</b></p>
												<p class="text-muted tx-13 mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
											</div>
										</div>
									</div>
									<div class="border-top"></div>
									<div class="p-4">
										<label class="main-content-label tx-13 mg-b-20">Contact</label>
										<div class="d-sm-flex">
											<div class="mg-sm-r-20 mg-b-10">
												<div class="main-profile-contact-list">
													<div class="media">
														<div class="media-icon bg-primary-transparent text-primary"> <i class="icon ion-md-phone-portrait"></i> </div>
														<div class="media-body">
															<span>Mobile</span>
															<div> +245 354 654 </div>
														</div>
													</div>
												</div>
											</div>
											<div class="mg-sm-r-20 mg-b-10">
												<div class="main-profile-contact-list">
													<div class="media">
														<div class="media-icon bg-success-transparent text-success"> <i class="icon ion-logo-slack"></i> </div>
														<div class="media-body">
															<span>Slack</span>
															<div> </div>
														</div>
													</div>
												</div>
											</div>
											<div class="">
												<div class="main-profile-contact-list">
													<div class="media">
														<div class="media-icon bg-info-transparent text-info"> <i class="icon ion-md-locate"></i> </div>
														<div class="media-body">
															<span>Current Address</span>
															<div> San Francisco, CA </div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="border-top"></div>
									<div class="p-3 p-sm-4">
										<label class="main-content-label tx-13 mg-b-20">Social</label>
										<div class="d-xl-flex">
											<div class="mg-md-r-20 mg-b-10">
												<div class="main-profile-social-list">
													<div class="media">
														<div class="media-icon bg-primary-transparent text-primary"> <i class="icon ion-logo-github"></i> </div>
														<div class="media-body"> <span>Github</span> <a href="">github.com/spruko</a> </div>
													</div>
												</div>
											</div>
											<div class="mg-md-r-20 mg-b-10">
												<div class="main-profile-social-list">
													<div class="media">
														<div class="media-icon bg-success-transparent text-success"> <i class="icon ion-logo-twitter"></i> </div>
														<div class="media-body"> <span>Twitter</span> <a href="">twitter.com/spruko.me</a> </div>
													</div>
												</div>
											</div>
											<div class="mg-md-r-20 mg-b-10">
												<div class="main-profile-social-list">
													<div class="media">
														<div class="media-icon bg-info-transparent text-info"> <i class="icon ion-logo-linkedin"></i> </div>
														<div class="media-body"> <span>Linkedin</span> <a href="">linkedin.com/in/spruko</a> </div>
													</div>
												</div>
											</div>
											<div class="mg-md-r-20 mg-b-10">
												<div class="main-profile-social-list">
													<div class="media">
														<div class="media-icon bg-danger-transparent text-danger"> <i class="icon ion-md-link"></i> </div>
														<div class="media-body"> <span>My Portfolio</span> <a href="">spruko.com/</a> </div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="main-content-body tab-pane p-4 border-top-0" id="edit">
								<div class="card-body border">
									<div class="mb-4 main-content-label">Personal Information</div>
									<form asp-action="Profile" class="form-horizontal">
										<div class="form-group ">
											<div class="row row-sm">
												<div class="col-md-3">
														<label asp-for="Name" class="form-label">Name</label>
												</div>
												<div class="col-md-9">
														<input type="text" asp-for="Name" class="form-control" placeholder="Name">
												</div>
											</div>
										</div>
										<div class="form-group ">
											<div class="row row-sm">
												<div class="col-md-3">
													<label asp-for="Gender" class="form-label">Gender</label>
												</div>
												<div class="col-md-9">
														<select asp-for="Gender" class="form-control select2" data-select2-id="5" tabindex="-1" aria-hidden="true">
															<option data-select2-id="109">Male</option>
															<option data-select2-id="110">Female</option>
														</select>
												</div>
											</div>
										</div>
										<div class="form-group ">
											<div class="row row-sm">
												<div class="col-md-3">
														<label asp-for="Dob" class="form-label">Date of Birth</label>
												</div>
												<div class="col-md-9">
														<input type="date" asp-for="Dob" class="form-control" placeholder="Date of Birth">
												</div>
											</div>
										</div>
											<div class="form-group ">
												<div class="row row-sm">
													<div class="col-md-3">
														<label asp-for="Address" class="form-label">Address</label>
													</div>
													<div class="col-md-9">
														<textarea class="form-control" asp-for="Address" rows="2" placeholder="Address"></textarea>
													</div>
												</div>
											</div>
											<div class="form-group ">
												<div class="row row-sm">
													<div class="col-md-3">
														<label asp-for="MaritalStatus" class="form-label">Marital Status</label>
													</div>
													<div class="col-md-9">
														<select asp-for="MaritalStatus" class="form-control select2" data-select2-id="5" tabindex="-1" aria-hidden="true">
															<option data-select2-id="109">Single</option>
															<option data-select2-id="110">Married</option>
														</select>
													</div>
												</div>
											</div>
											<div class="form-group ">
												<div class="row row-sm">
													<div class="col-md-3">
														<label asp-for="Qualification" class="form-label">Qualification</label>
													</div>
													<div class="col-md-9">
														<input asp-for="Qualification" type="text" class="form-control" placeholder="Qualification">
													</div>
												</div>
											</div>
											<div class="form-group ">
												<div class="row row-sm">
													<div class="col-md-3">
														<label asp-for="Sports" class="form-label">Sports</label>
													</div>
													<div class="col-md-9">
														<input asp-for="Sports" type="text" class="form-control" placeholder="Sports">
													</div>
												</div>
											</div>
											<div class="form-group ">
												<div class="row row-sm">
													<div class="col-md-3">
														<label asp-for="Hobbies" class="form-label">Hobbies</label>
													</div>
													<div class="col-md-9">
														<input asp-for="Hobbies" type="text" class="form-control" placeholder="Hobbies">
													</div>
												</div>
											</div>
											<div class="form-group ">
												<div class="row row-sm">
													<div class="col-md-3">
														<label asp-for="Designation" class="form-label">Designation</label>
													</div>
													<div class="col-md-9">
														<input asp-for="Designation" type="text" class="form-control" placeholder="Designation">
													</div>
												</div>
											</div>
										<div class="mb-4 main-content-label">Contact Info</div>
										<div class="form-group ">
											<div class="row row-sm">
												<div class="col-md-3">
													<label asp-for="Email" class="form-label">Email</label>
												</div>
												<div class="col-md-9">
														<input asp-for="Email" type="text" readonly class="form-control" placeholder="Email" value="info@example.com">
												</div>
											</div>
										</div>
											<div class="form-group ">
												<div class="row row-sm">
													<div class="col-md-9">
														<button class="btn btn-primary">Update</button>
													</div>
												</div>
											</div>
			
									</form>
								</div>
							</div>
								<div class="main-content-body tab-pane border-top-0" id="Contacts">
								<div class="card-body border pd-b-10">
									<!-- row -->
									<div class="row row-sm">
										<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
											<div class="card custom-card border">
												<div class="card-body text-center">
													<div class="user-lock text-center">
														<div class="dropdown text-end">
															<a href="#" class="option-dots" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <i class="fe fe-more-vertical"></i> </a>
															<div class="dropdown-menu dropdown-menu-end shadow"> <a class="dropdown-item" href="#"><i class="fe fe-message-square me-2"></i> Message</a> <a class="dropdown-item" href="#"><i class="fe fe-edit-2 me-2"></i> Edit</a> <a class="dropdown-item" href="#"><i class="fe fe-eye me-2"></i> View</a> <a class="dropdown-item" href="#"><i class="fe fe-trash-2 me-2"></i> Delete</a> </div>
														</div>
														<a href="profile.html"><img alt="avatar" class="rounded-circle" src="../assets/img/users/2.jpg"></a>
													</div>
													<a href="profile.html"><h5 class=" mb-1 mt-3 main-content-label">Socrates Itumay</h5></a>
													<p class="mb-2 mt-1 tx-inverse">Project Manager</p>
													<p class="text-muted text-center mt-1">Lorem Ipsum is not simply popular belief Contrary.</p>
												</div>
											</div>
										</div>
										<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
											<div class="card custom-card border">
												<div class="card-body text-center">
													<div class="user-lock text-center">
														<div class="dropdown text-end">
															<a href="#" class="option-dots" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <i class="fe fe-more-vertical"></i> </a>
															<div class="dropdown-menu dropdown-menu-end shadow"> <a class="dropdown-item" href="#"><i class="fe fe-message-square me-2"></i> Message</a> <a class="dropdown-item" href="#"><i class="fe fe-edit-2 me-2"></i> Edit</a> <a class="dropdown-item" href="#"><i class="fe fe-eye me-2"></i> View</a> <a class="dropdown-item" href="#"><i class="fe fe-trash-2 me-2"></i> Delete</a> </div>
														</div>
														<a href="profile.html"><img alt="avatar" class="rounded-circle" src="../assets/img/users/3.jpg"></a>
													</div>
													<a href="profile.html"><h5 class="mb-1 mt-3  main-content-label">Reynante Labares</h5></a>
													<p class="mb-2 mt-1 tx-inverse">Web Designer</p>
													<p class="text-muted text-center mt-1">Lorem Ipsum is not simply popular belief Contrary.</p>
												</div>
											</div>
										</div>
										<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
											<div class="card custom-card border">
												<div class="card-body text-center">
													<div class="user-lock text-center">
														<div class="dropdown text-end">
															<a href="#" class="option-dots" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <i class="fe fe-more-vertical"></i> </a>
															<div class="dropdown-menu dropdown-menu-end shadow"> <a class="dropdown-item" href="#"><i class="fe fe-message-square me-2"></i> Message</a> <a class="dropdown-item" href="#"><i class="fe fe-edit-2 me-2"></i> Edit</a> <a class="dropdown-item" href="#"><i class="fe fe-eye me-2"></i> View</a> <a class="dropdown-item" href="#"><i class="fe fe-trash-2 me-2"></i> Delete</a> </div>
														</div>
														<a href="profile.html"><img alt="avatar" class="rounded-circle" src="../assets/img/users/4.jpg"></a>
													</div>
													<a href="profile.html"><h5 class="mb-1 mt-3 main-content-label">Owen Bongcaras</h5></a>
													<p class="mb-2 mt-1 tx-inverse">App Developer</p>
													<p class="text-muted text-center mt-1">Lorem Ipsum is not simply popular belief Contrary.</p>
												</div>
											</div>
										</div>
										<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
											<div class="card custom-card border">
												<div class="card-body text-center">
													<div class="user-lock text-center">
														<div class="dropdown text-end">
															<a href="#" class="option-dots" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <i class="fe fe-more-vertical"></i> </a>
															<div class="dropdown-menu dropdown-menu-end shadow"> <a class="dropdown-item" href="#"><i class="fe fe-message-square me-2"></i> Message</a> <a class="dropdown-item" href="#"><i class="fe fe-edit-2 me-2"></i> Edit</a> <a class="dropdown-item" href="#"><i class="fe fe-eye me-2"></i> View</a> <a class="dropdown-item" href="#"><i class="fe fe-trash-2 me-2"></i> Delete</a> </div>
														</div>
														<a href="profile.html"><img alt="avatar" class="rounded-circle" src="../assets/img/users/8.jpg"></a>
													</div>
													<a href="profile.html"><h5 class="mb-1 mt-3 main-content-label">Stephen Metcalfe</h5></a>
													<p class="mb-2 mt-1 tx-inverse">Administrator</p>
													<p class="text-muted text-center mt-1">Lorem Ipsum is not simply popular belief Contrary.</p>
												</div>
											</div>
										</div>
										<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
											<div class="card custom-card border">
												<div class="card-body text-center">
													<div class="user-lock text-center">
														<div class="dropdown text-end">
															<a href="#" class="option-dots" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <i class="fe fe-more-vertical"></i> </a>
															<div class="dropdown-menu dropdown-menu-end shadow"> <a class="dropdown-item" href="#"><i class="fe fe-message-square me-2"></i> Message</a> <a class="dropdown-item" href="#"><i class="fe fe-edit-2 me-2"></i> Edit</a> <a class="dropdown-item" href="#"><i class="fe fe-eye me-2"></i> View</a> <a class="dropdown-item" href="#"><i class="fe fe-trash-2 me-2"></i> Delete</a> </div>
														</div>
														<a href="profile.html"> <img alt="avatar" class="rounded-circle" src="../assets/img/users/2.jpg"></a>
													</div>
													<a href="profile.html"><h5 class=" mb-1 mt-3 main-content-label">Socrates Itumay</h5></a>
													<p class="mb-2 mt-1 tx-inverse">Project Manager</p>
													<p class="text-muted text-center mt-1">Lorem Ipsum is not simply popular belief Contrary.</p>
												</div>
											</div>
										</div>
										<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
											<div class="card custom-card border">
												<div class="card-body text-center">
													<div class="user-lock text-center">
														<div class="dropdown text-end">
															<a href="#" class="option-dots" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <i class="fe fe-more-vertical"></i> </a>
															<div class="dropdown-menu dropdown-menu-end shadow"> <a class="dropdown-item" href="#"><i class="fe fe-message-square me-2"></i> Message</a> <a class="dropdown-item" href="#"><i class="fe fe-edit-2 me-2"></i> Edit</a> <a class="dropdown-item" href="#"><i class="fe fe-eye me-2"></i> View</a> <a class="dropdown-item" href="#"><i class="fe fe-trash-2 me-2"></i> Delete</a> </div>
														</div>
														<a href="profile.html"> <img alt="avatar" class="rounded-circle" src="../assets/img/users/3.jpg"></a>
													</div>
													<a href="profile.html"><h5 class="mb-1 mt-3  main-content-label">Reynante Labares</h5></a>
													<p class="mb-2 mt-1 tx-inverse">Web Designer</p>
													<p class="text-muted text-center mt-1">Lorem Ipsum is not simply popular belief Contrary.</p>
												</div>
											</div>
										</div>
										<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
											<div class="card custom-card border">
												<div class="card-body text-center">
													<div class="user-lock text-center">
														<div class="dropdown text-end">
															<a href="#" class="option-dots" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <i class="fe fe-more-vertical"></i> </a>
															<div class="dropdown-menu dropdown-menu-end shadow"> <a class="dropdown-item" href="#"><i class="fe fe-message-square me-2"></i> Message</a> <a class="dropdown-item" href="#"><i class="fe fe-edit-2 me-2"></i> Edit</a> <a class="dropdown-item" href="#"><i class="fe fe-eye me-2"></i> View</a> <a class="dropdown-item" href="#"><i class="fe fe-trash-2 me-2"></i> Delete</a> </div>
														</div>
														<a href="profile.html"><img alt="avatar" class="rounded-circle" src="../assets/img/users/4.jpg"></a>
													</div>
													<a href="profile.html"><h5 class="mb-1 mt-3 main-content-label">Owen Bongcaras</h5></a>
													<p class="mb-2 mt-1 tx-inverse">App Developer</p>
													<p class="text-muted text-center mt-1">Lorem Ipsum is not simply popular belief Contrary.</p>
												</div>
											</div>
										</div>
										<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
											<div class="card custom-card border">
												<div class="card-body text-center">
													<div class="user-lock text-center">
														<div class="dropdown text-end">
															<a href="#" class="option-dots" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <i class="fe fe-more-vertical"></i> </a>
															<div class="dropdown-menu dropdown-menu-end shadow"> <a class="dropdown-item" href="#"><i class="fe fe-message-square me-2"></i> Message</a> <a class="dropdown-item" href="#"><i class="fe fe-edit-2 me-2"></i> Edit</a> <a class="dropdown-item" href="#"><i class="fe fe-eye me-2"></i> View</a> <a class="dropdown-item" href="#"><i class="fe fe-trash-2 me-2"></i> Delete</a> </div>
														</div>
														<a href="profile.html"><img alt="avatar" class="rounded-circle" src="../assets/img/users/8.jpg"></a>
													</div>
													<a href="profile.html"><h5 class="mb-1 mt-3 main-content-label">Stephen Metcalfe</h5></a>
													<p class="mb-2 mt-1 tx-inverse">Administrator</p>
													<p class="text-muted text-center mt-1">Lorem Ipsum is not simply popular belief Contrary.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
		</div>
	</div>



			<!-- Jquery js-->
		<script src="~/assets/admin/plugins/jquery/jquery.min.js"></script>

		<!-- Bootstrap js-->
		<script src="~/assets/admin/plugins/bootstrap/js/popper.min.js"></script>
		<script src="~/assets/admin/plugins/bootstrap/js/bootstrap.min.js"></script>

		<!-- Perfect-scrollbar js -->
		<script src="~/assets/admin/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

		<!-- Internal Gallery js-->
		<script src="~/assets/admin/plugins/gallery/picturefill.js"></script>
        <script src="~/assets/admin/plugins/gallery/lightgallery.js"></script>
		<script src="~/assets/admin/plugins/gallery/lightgallery-1.js"></script>
        <script src="~/assets/admin/plugins/gallery/lg-pager.js"></script>
        <script src="~/assets/admin/plugins/gallery/lg-autoplay.js"></script>
        <script src="~/assets/admin/plugins/gallery/lg-fullscreen.js"></script>
        <script src="~/assets/admin/plugins/gallery/lg-zoom.js"></script>
        <script src="~/assets/admin/plugins/gallery/lg-hash.js"></script>
        <script src="~/assets/admin/plugins/gallery/lg-share.js"></script>

		<!-- Sidemenu js -->
		<script src="~/assets/admin/plugins/sidemenu/sidemenu.js" id="leftmenu"></script>

		<!-- Sidebar js -->
		<script src="~/assets/admin/plugins/sidebar/sidebar.js"></script>

		<!-- Select2 js-->
		<script src="~/assets/admin/plugins/select2/js/select2.min.js"></script>
		<script src="~/assets/admin/js/select2.js"></script>

		<!-- Color Theme js -->
		<script src="~/assets/admin/js/themeColors.js"></script>

		<!-- Sticky js -->
		<script src="~/assets/admin/js/sticky.js"></script>

		<!-- Custom js -->
		<script src="~/assets/admin/js/custom.js"></script>

</body>
</html>