@model online_sms.Models.Contact

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="main-content side-content pt-0">

    <div class="main-container container-fluid">
        <div class="inner-body">

            <!-- Page Header -->
            <div class="page-header">
                <div>
                    <h2 class="main-content-title tx-24 mg-b-5">Welcome To Dashboard</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Contact</li>
                    </ol>
                </div>
              
            </div>
            <!-- End Page Header -->
            <!--Row-->
            <div class="row row-sm">
                <div class="col-sm-12 col-lg-12 col-xl-12">


                    <!--row-->
                    <div class="row row-sm">
                        <div class="col-sm-12 col-lg-12 col-xl-12">
                            <div class="card custom-card overflow-hidden">
                                <div class="card-header border-bottom-0">
                                    <div>
                                        <label class="main-content-label mb-2">Create Contact</label> 
                                    </div>
                                </div>
                                <div class="card-body ps-0">
                                    <div class>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <form asp-action="Create">
                                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                        <div class="form-group">
                                                            <label asp-for="UserId" class="control-label"></label>
                                                            <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label asp-for="FirstName" class="control-label"></label>
                                                            <input asp-for="FirstName" class="form-control" />
                                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label asp-for="LastName" class="control-label"></label>
                                                            <input asp-for="LastName" class="form-control" />
                                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label asp-for="ContactNumber" class="control-label"></label>
                                                            <input asp-for="ContactNumber" class="form-control" />
                                                            <span asp-validation-for="ContactNumber" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="submit" value="Create" class="btn btn-primary" />
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- col end -->

                    </div><!-- Row end -->
                </div><!-- col end -->

            </div><!-- Row end -->
        </div>
    </div>
</div>

